@import url("../css/common.css");

#about {
  height: 100vh;
}

.about__bg {
  background-color: var(--c-3);
  height: 100vh;
}

.about__container {
  display: flex;
  padding: 5% 10% 5% 10%;
}

.about__header {
  text-transform: uppercase;
  flex-grow: 1;
  color: var(--c-2);
}

.about__content {
  margin-left: 10%;
  flex-grow: 3;
  color: var(--c-2);
  letter-spacing: 1.3px;
  line-height: 1.5;
}

.about__container--bg {
  background-color: var(--c-1);
  color: var(--c-2);
  opacity: 80%;
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 10px;
  display: flex;
  position: relative;
  cursor: pointer;
  height: 70px;
  width: 165px;
}

.about__container--flex {
  display: flex;
  width: 100%;
}

.about__input {
  display: none;
}

.about__container--show {
  display: none;
}

.about__container--show > img {
  height: 100px;
  margin-left: 40px;
}

.about__input:checked ~ .about__container--show {
  display: flex;
}

.about__arrow {
  width: 15px;
  height: 15px;
  border-top: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  margin: -8px;
  right: 0;
  margin-right: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(45deg);
}

@media (max-width: 1300px) {
  .about__container {
    padding: 5% 10% 0% 10%;
  }

  .about__container--show > img {
    margin-left: 15px;
  }
}

@media (max-width: 1024px) {
  .about__container {
    flex-direction: column;
  }

  .about__content {
    margin-left: 0;
  }

  .about__container--flex {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .about__arrow {
    transform: rotate(135deg);
  }

  .about__input:checked ~ .about__container--show {
    margin-top: 50px;
  }
}

@media (max-width: 800px) {
  #about {
    height: auto;
  }

  .about__container--flex {
    padding-bottom: 50px;
  }

  .about__input:checked ~ .about__container--show {
    flex-direction: column;
    align-items: center;
  }

  .about__input:checked ~ .about__container--show > img {
    margin-top: 10px;
  }

  .about__bg {
    height: auto;
  }

  .about__container {
    flex-direction: column;
  }

  .about__content {
    margin-left: 0;
    font-size: 0.8em;
  }

  .about__arrow {
    margin-right: 18px;
  }
}
